.navbar {
    width: 100%;
    height: 10vh;
    padding: 20px 120px;
    background-color: #222222;
    
    
}

.pic{
    height: 60px;
    width:  75px;
}
.liste ul{
    color: white;
    list-style-type: none;
    padding-right: 500px;
}